{% extends "tasks/layout.html" %}

{% block body %}
        <h1>Your tasks are:</h1>
        <table style="width:100%">
        {% if tasks %}
            <ul>
            {% for task in tasks %}
                <li><a href="{% url 'tasks:task' task.id %}">{{ task }}</a> {% if task.completed %} - Done {% endif %}</li>
            {% endfor %}
            </ul>
        {% else %}
            <h3>No tasks</h3>
        {% endif %}
        </table>
        <a href="{% url 'tasks:add' %}">Add new tasks</a>
{% endblock %}