{% extends "users/layout.html" %}

{% block body %}
    <h1> Welcome, {{ request.user.username }} </h1>
    <ul>
        <li>Username: {{ request.user.username }}</li>
        {% if request.user.email %}<li>email: {{ request.user.email }}</li>{% endif %}
        {% if request.user.first_name and request.user.last_name %}<li>Name: {{ request.user.first_name }} {{ request.user.last_name }}</li>{% endif %}
    </ul>
    <p><strong>Total registered users: </strong> {{ count }}</p>
    <a href="{% url 'users:logout' %}"> Logout </a>
{% endblock %}